name: OssanSnipeFlutter
description: A new Flutter project.
publish_to: 'none'
version: 1.1.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  csv: ^5.0.0
  file_picker: ^8.0.0+1
  intl: ^0.19.0   # これ追加！

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
    - assets/mh4g_charm_tables.json
